server:
  port: 8080
  forward-headers-strategy: framework

app:
  cors:
    allowed-origins: ${APP_CORS_ALLOWED_ORIGINS:https://apolog.fr}
  security:
    allow-h2-console: false

spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://db:5432/rfidback}
    driver-class-name: org.postgresql.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
